* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'HK Grotesk Regular', sans-serif;
}

header {
	position: relative;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.brand span {
	display: inline-block;
	padding: 1rem;
	background: #75c91c;
	color: #fff;
	font-size: 1.4rem
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-bottom: 1.2rem;
}

nav li {
	margin: 0rem 2rem;
}

nav a {
	font-size: .95rem;
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
}

.open-menu,
.close-menu {
    display: none;
}

.hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100vh;
    overflow-y: hidden;
}

.content {
	background: #0d0d25;
	color: #fff;
}

.hero-img {
	margin-top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.content, {
	padding-top: 70px;
}

.hero-desc {
	margin-top: 3rem;
	margin-left: 4.5rem;
	padding: 2rem 8rem 2rem 2rem;
}

.hero-desc h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 1rem
}

.hero-desc p {
	margin-bottom: 2rem;
	line-height: 1.5rem;
}

.hero-desc button {
	padding: 1rem 3rem;
	text-transform: uppercase;
	color: #0d0d25;
	background-color: #75c91c;
	border: none;
	font-weight: bold;
}

.hero-action {
	margin-bottom: 2rem;
}

.food-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0rem 3rem;
}

.food-img {
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}

.food-grid-wrapper {
	margin-top: 2.9rem;
}

.food-grid-wrapper h3 {
	margin-bottom: .8rem;
}

.food-grid p {
	margin-bottom: .1rem;
}

.food-desc {
	margin-top: .5rem;
}

@media only screen and (max-width: 1200px) {
    nav ul {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 300;
        top: 0;
        left: -100%;
        background: #fff;
        flex-direction: column;
    }
    
    nav li {
        margin-bottom: 1rem;
    }
    
    nav a {
        font-family: Lucida handwriting;
        font-size: 1.7rem;
        color: #75c91c;
    }
    
    .close-menu {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}