@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,500i,600,600i,700&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: HK Grotesk Regular, san-serif;
	box-sizing: border-box;
}

.main {
	display: flex;
	height: 90vh;
	overflow: hidden;
}

.col-lg-6 {
	flex-basis: 50%;
}

.describe {
	padding: 5rem;
}

.describe h1 {
	font-size: 3.3rem;
}

.describe p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-bottom: 1.7rem;
}

.describe button {
	padding: .90rem 2rem;
	font-size: 1rem;
	background-image: linear-gradient(50deg, #00ccff, purple);
	border: 1px solid #00ccff;
	border-radius: 30px;
}

.image {
	position: relative;
	overflow: hidden;
}

.image:before {
	position: absolute;
	content: '';
	background-image: url('img/9.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 1500px;
	width: 1500px;
	left: 0px;
	top: -60%;
	border-radius: 50% 0 0 50%;
}



.box {
	width: 20%;
	background: #333;
	color: #fff;
	padding: 2rem;
	text-align: center;
	position: relative;
}

.box:after {
	content: '';
	position: absolute;
	right: -4%;
	bottom: -4%;
	height: 90%;
	width: 90%;
	background: transparent;
	z-index: -1;
	border-right: 15px solid #E14929;
	border-bottom: 15px solid #E14929;
	border-top: 15px solid transparent;
	border-left: 15px solid transparent;
}

.box span {
	font-size: 4rem;
	color: #F26C4F;
}

.card {
	padding: 2rem;
	width: 300px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	margin-top: 30px;
	/*transform: rotateY(0deg);*/
	transition: all 1s;
	position: relative;

}

.card:hover {
	/*transform: rotateY(90deg);*/
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
}

.card h2 {
	background-image: url('./img/4.jpg');
	-webkit-background-clip: text;
	color: transparent;
	font-size: 4rem;
	background-position: 70% 90%;
}


@media only screen and (max-width: 1000px) {
	.box {
		flex-basis: 45%;
	}
}

@media only screen and (max-width: 768px) {
	.image-grid {
		column-count: 3;
	}
}

@media only screen and (max-width: 500px) {
	.image-grid {
		column-count: 2;
	}
}

@media only screen and (max-width: 350px) {
	.image-grid {
		column-count: 1;
	}
}