* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Trebuchet Ms;
}

body {
	background-image: url('../img/body-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.login-wrapper {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}

.login-img img {
	width: 100%;
}

.login-form {
	padding: 2.5rem;
}

.login-form h2 {
	margin-bottom: 1.4rem;
}

.form-group {
	margin-bottom: 1.2rem;
}

.form-group label {
	display: block;
	margin-bottom: .5rem;
}

.form-group input {
	display: block;
	width: 100%;
	height: 40px;
	padding: .5rem;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.button-holder {
	text-align: center;
}

.button-holder button {
	padding: .7rem 2rem;
	background: #F885BC;
	border: 1px solid #F885BC;
	color: #fff;
	border-radius: 20px;
	margin-bottom: 1rem;
}

.button-holder a {
	text-decoration: none;
	color: #222;
}


